<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQL" connectionString="Data Source=(localdb)\\mssqllocaldb;Initial Catalog=House;Integrated Security=True"/>
    <add name="SQLite" connectionString="Data Source=c:\House.db;Cache=Shared;Version=3;"/>
    <add name="CSV" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=c:\House.csv;"/>
  </connectionStrings>
</configuration>